## Nationwide Home Values
#### Abby Hildebrandt Summer 2023

Prompt: 

I want to showcase some of my python skills for my portfolio by making a robust data analysis jupyter notebook using python. I am equipped with a county dataset, which contains zip and fips codes for every county in the United States as well as the geometry of the county. I also have a kaggle dataset of zillow housing price data that shows median rental of different bedroom number units, zillow home value index, and various other housing data, all separated by city name. provide me with 10 prompts of ways I could utilize python in different data visualizations and data science methodologies using this data.

ChatGPT Response: 
1. Geospatial Analysis of Housing Prices: Create choropleth maps using the county geometry data and overlay the Zillow housing price data to visualize the median rental or home value index across different counties in the United States.

2. Trends in Housing Prices over Time: Generate time series plots to visualize the trends in median rental or home value index for specific cities or counties over the years.

3. Correlation Analysis: Perform correlation analysis between housing prices and other variables in the Zillow dataset (e.g., population, unemployment rate) to identify potential relationships.

4. Top Performing Cities/Counties: Identify the top 10 cities or counties with the highest and lowest housing prices (rental or home value index) and create bar plots to compare them.

5. Housing Price Distribution: Create histograms or box plots to visualize the distribution of housing prices (rental or home value index) for different cities or counties.

6. Heatmaps of Housing Price Clusters: Use clustering algorithms (e.g., K-means) to group similar cities or counties based on housing prices and create heatmaps to visualize the clustering results.

7. Interactive Data Dashboard: Develop an interactive dashboard using libraries like Dash or Panel to allow users to explore and filter the housing price data based on various criteria (e.g., city, county, bedroom number, etc.).

8. Time Series Forecasting: Use time series forecasting models (e.g., ARIMA, Prophet) to predict future housing prices for specific cities or counties and visualize the forecasts.

9. Spatial Autocorrelation Analysis: Apply spatial autocorrelation techniques (e.g., Moran's I) to detect spatial patterns in housing prices and visualize the results on a map.

10. Comparative Analysis of Cities/Counties: Compare the housing prices of different cities or counties using side-by-side bar plots or box plots to identify any significant differences.

Important Links: 

https://www.zillow.com/research/data/

### Import Libraries

In [42]:
import pandas as pd
import geopandas as gpd
import psycopg2 as psy
import geotable
from kml2geojson import convert
import itertools
import json
from census import Census
from us import states
import plotly.express as px

#### Read in Zip Code Data

Source: https://www.kaggle.com/datasets/danofer/zipcodes-county-fips-crosswalk?resource=download

In [62]:
b = pd.read_csv("data/ZIP-COUNTY-FIPS_2017-06.csv", dtype=str)
b = b.rename({"ZIP":"zip", "STCOUNTYFP":"fips"}, axis='columns')
b

         zip         COUNTYNAME STATE   fips CLASSFP
0      36003     Autauga County    AL  01001      H1
1      36006     Autauga County    AL  01001      H1
2      36067     Autauga County    AL  01001      H1
3      36066     Autauga County    AL  01001      H1
4      36703     Autauga County    AL  01001      H1
...      ...                ...   ...    ...     ...
52884  00850   St. Croix Island    VI  78010      H4
52885  00840   St. Croix Island    VI  78010      H4
52886  00820   St. Croix Island    VI  78010      H4
52887  00830    St. John Island    VI  78020      H4
52888  00802  St. Thomas Island    VI  78030      H4

[52889 rows x 5 columns]

#### Read in geometry data

In [63]:
c = gpd.read_file("data/usacounties.geojson", dtype=str)
c = c.rename({"FIPS":"fips"}, axis='columns')
c

,NAME,STATE_NAME,STATE_FIPS,CNTY_FIPS,fips,geometry
0,Lake of the Woods,Minnesota,27,077,27077,"MULTIPOLYGON (((-95.34283 48.54668, -95.34105 ..."
1,Ferry,Washington,53,019,53019,"MULTIPOLYGON (((-118.85163 47.94956, -118.8484..."
2,Stevens,Washington,53,065,53065,"MULTIPOLYGON (((-117.43883 48.04412, -117.5421..."
3,Okanogan,Washington,53,047,53047,"MULTIPOLYGON (((-118.97209 47.93915, -118.9740..."
4,Pend Oreille,Washington,53,051,53051,"MULTIPOLYGON (((-117.43858 48.99992, -117.0320..."
...,...,...,...,...,...,...
3136,Skagway-Hoonah-Angoon,Alaska,02,232,02232,"MULTIPOLYGON (((-137.80952 58.71648, -137.4674..."
3137,Yukon-Koyukuk,Alaska,02,290,02290,"MULTIPOLYGON (((-161.04770 62.20469, -160.9942..."
3138,Southeast Fairbanks,Alaska,02,240,02240,"MULTIPOLYGON (((-146.96382 63.46070, -146.9573..."
3139,Denali,Alaska,02,068,02068,"MULTIPOLYGON (((-152.98947 62.74900, -152.4877..."
3140,Broomfield,Colorado,08,014,08014,"MULTIPOLYGON (((-105.05201 39.99761, -104.9913..."

---

#### Merge Zip, FIPS, & Geometry

---

In [65]:
# Group DataFrame A by 'fips' and create a list of zip codes for each group
zip_codes = b.groupby('fips')['zip'].apply(list)

# Merge the zip_codes Series with DataFrame B on 'fips'
c = c.merge(zip_codes, on='fips')

# Rename the new column to 'zip_codes'
c = c.rename(columns={'zip_code': 'zip_codes'})
c

,NAME,STATE_NAME,STATE_FIPS,CNTY_FIPS,fips,geometry,zip
0,Lake of the Woods,Minnesota,27,077,27077,"MULTIPOLYGON (((-95.34283 48.54668, -95.34105 ...","[56686, 56711, 56623, 56741, 56673]"
1,Ferry,Washington,53,019,53019,"MULTIPOLYGON (((-118.85163 47.94956, -118.8484...","[99138, 99140, 99146, 99107, 99118, 99160, 991..."
2,Stevens,Washington,53,065,53065,"MULTIPOLYGON (((-117.43883 48.04412, -117.5421...","[99013, 99148, 99026, 99126, 99040, 99006, 991..."
3,Okanogan,Washington,53,047,53047,"MULTIPOLYGON (((-118.97209 47.93915, -118.9740...","[98846, 98829, 99116, 98813, 98833, 98819, 988..."
4,Pend Oreille,Washington,53,051,53051,"MULTIPOLYGON (((-117.43858 48.99992, -117.0320...","[99139, 99180, 99152, 99006, 99119, 99156, 990..."
...,...,...,...,...,...,...,...
3131,Yakutat,Alaska,02,282,02282,"MULTIPOLYGON (((-142.19485 60.02709, -142.1832...",[99689]
3132,Yukon-Koyukuk,Alaska,02,290,02290,"MULTIPOLYGON (((-161.04770 62.20469, -160.9942...","[99757, 99758, 99733, 99740, 99768, 99724, 996..."
3133,Southeast Fairbanks,Alaska,02,240,02240,"MULTIPOLYGON (((-146.96382 63.46070, -146.9573...","[99764, 99738, 99776, 99731, 99780, 99732, 99737]"
3134,Denali,Alaska,02,068,02068,"MULTIPOLYGON (((-152.98947 62.74900, -152.4877...","[99729, 99744, 99743, 99755]"
3135,Broomfield,Colorado,08,014,08014,"MULTIPOLYGON (((-105.05201 39.99761, -104.9913...","[80023, 80038, 80516, 80020, 80234, 80603, 800..."

Rental Costs Time Series by State

In [43]:
a = pd.read_csv("data/City_MedianRentalPrice_AllHomes.csv")
a_grouped = a.groupby('State').mean()
a_grouped = a_grouped.drop(columns = ['SizeRank', 'Unnamed: 0'])
a_grouped

/tmp/ipykernel_34181/1525027118.py:2: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,2010-10,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
State,,,,,,,,,,,,,,,,,,,,,
AK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1648.750000,1642.500000,1598.750000,1568.750000,1586.250000,1618.750000,1603.125000,1587.500000,1617.500000,1598.750000
AL,NaN,NaN,NaN,862.500000,850.000000,862.500000,925.000000,995.000000,831.000000,804.500000,...,1145.739130,1174.782609,1163.239130,1148.913043,1156.086957,1150.630435,1171.826087,1173.695652,1166.695652,1163.021739
AR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1114.843750,1129.375000,1130.156250,1122.187500,1115.156250,1115.781250,1113.281250,1111.250000,1110.156250,1111.718750
AZ,NaN,1300.000000,1165.900000,1143.125000,1138.461538,1123.423077,1114.192308,1132.615385,1076.300000,1069.533333,...,1531.859375,1552.000000,1553.484375,1562.859375,1575.359375,1582.140625,1594.765625,1565.546875,1556.609375,1551.890625
CA,NaN,2282.500000,2249.000000,2340.277778,2382.777778,2444.444444,2533.055556,2767.272727,2505.833333,2397.666667,...,2942.944664,2961.187747,2976.782609,2989.721344,2997.792490,2989.013834,2963.454545,2951.086957,2950.677866,2960.675889
CO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1100.000000,...,1986.722222,2011.111111,2019.194444,2009.305556,2005.652778,2011.652778,2011.166667,1970.694444,1988.222222,1998.013889
CT,NaN,NaN,NaN,NaN,NaN,2108.500000,2425.000000,1775.000000,1657.000000,1555.000000,...,1927.616279,1975.906977,2009.872093,2019.058140,1992.034884,1976.360465,1995.453488,1968.872093,1967.186047,1971.616279
DC,NaN,2275.000000,1972.500000,1999.000000,2000.000000,2125.000000,2300.000000,2200.000000,2180.000000,2200.000000,...,2600.000000,2650.000000,2700.000000,2750.000000,2730.000000,2700.000000,2700.000000,2700.000000,2700.000000,2730.000000
DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1285.625000,1300.000000,1346.875000,1337.500000,1367.500000,1380.625000,1371.875000,1361.125000,1323.750000,1325.000000
FL,895.0,1216.916667,1204.970588,1232.350000,1226.000000,1229.250000,1282.125000,1420.978261,1432.724138,1373.782051,...,1910.649780,1916.314978,1909.936123,1912.909692,1916.416300,1931.352423,1932.535242,1926.193833,1925.308370,1927.284141
GA,NaN,NaN,1196.666667,1277.000000,1258.500000,1269.000000,1243.541667,1242.307692,1243.392857,1232.857143,...,1433.237805,1446.750000,1464.243902,1469.719512,1478.231707,1474.079268,1466.024390,1469.164634,1469.524390,1472.658537
HI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2313.269231,2343.653846,2355.576923,2414.615385,2383.461538,2397.653846,2375.961538,2302.884615,2313.461538,2317.115385
IA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1123.666667,1144.166667,1156.633333,1160.000000,1157.166667,1145.466667,1169.966667,1166.000000,1174.166667,1150.266667
ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1357.812500,1394.375000,1435.312500,1456.250000,1476.125000,1490.312500,1472.125000,1442.187500,1435.312500,1432.187500
IL,NaN,1600.000000,1500.000000,1500.000000,1500.000000,1550.000000,1523.750000,1512.500000,1550.000000,1525.000000,...,1556.842466,1566.191781,1572.198630,1575.821918,1579.945205,1591.808219,1593.986301,1592.712329,1573.184932,1571.561644
IN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1124.280000,1147.560000,1159.020000,1165.840000,1167.960000,1154.880000,1166.540000,1165.220000,1149.400000,1153.500000
KS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1117.906250,1115.781250,1132.812500,1128.187500,1132.125000,1119.468750,1099.718750,1092.593750,1115.875000,1122.062500
KY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1020.500000,1044.750000,1083.650000,1065.000000,1060.400000,1064.500000,1059.650000,1049.500000,1061.000000,1050.700000
LA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1240.108696,1254.456522,1266.739130,1258.021739,1243.043478,1237.500000,1224.891304,1214.673913,1191.173913,1190.543478
MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2122.500000,2167.500000,...,2300.000000,2332.863636,2316.045455,2296.318182,2314.840909,2325.431818,2283.863636,2273.863636,2267.272727,2287.613636
MD,NaN,NaN,1300.000000,1300.000000,1300.000000,1395.000000,1506.250000,1522.500000,1640.000000,1682.142857,...,1879.027778,1907.712963,1927.666667,1962.351852,1973.462963,1966.027778,1964.916667,1937.666667,1934.175926,1936.064815
ME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1997.500000,2200.000000,2200.000000,2000.000000,2175.000000,2200.000000,2000.000000,2000.000000,2000.000000,2000.000000
MI,NaN,NaN,900.000000,1212.500000,1212.500000,1225.000000,1137.500000,1175.000000,1183.333333,1168.333333,...,1257.451923,1265.769231,1276.355769,1273.778846,1289.471154,1294.644231,1289.326923,1284.230769,1294.625000,1291.875000
MN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1740.785714,1730.547619,1734.738095,1728.404762,1720.119048,1705.523810,1704.404762,1708.333333,1680.952381,1702.571429
MO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1094.387097,1108.870968,1119.693548,1104.774194,1096.451613,1109.758065,1119.935484,1114.758065,1107.306452,1098.725806
MS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1206.111111,1219.166667,1209.611111,1220.166667,1218.833333,1208.333333,1188.611111,1195.555556,1197.777778,1199.944444
MT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1391.666667,1407.500000,1382.083333,1386.666667,1366.250000,1370.833333,1333.333333,1318.750000,1332.500000,1318.750000
NC,NaN,1047.500000,1163.333333,1164.166667,1221.250000,1230.000000,1246.250000,1253.750000,1235.000000,1245.000000,...,1368.863636,1397.125000,1404.806818,1417.284091,1411.534091,1402.977273,1405.500000,1401.750000,1394.568182,1396.647727
ND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1361.666667,1366.666667,1350.000000,1306.666667,1286.666667,1308.333333,1300.000000,1291.666667,1308.333333,1278.333333
NE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1201.875000,1252.500000,1236.250000,1236.250000,1213.750000,1200.000000,1187.500000,1160.000000,1150.000000,1146.250000
NH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1700.000000,1750.000000,1832.500000,1898.333333,1899.166667,1850.000000,1913.333333,1883.333333,1866.666667,1940.833333
NJ,NaN,1600.000000,1600.000000,1695.000000,1600.000000,1575.000000,1550.000000,1472.500000,1400.000000,2015.000000,...,1998.784722,2030.138889,2047.847222,2047.159722,2046.694444,2036.791667,2040.861111,2048.083333,2037.423611,2031.062500
NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1201.125000,1195.000000,1223.437500,1210.937500,1208.437500,1212.500000,1218.125000,1199.375000,1188.125000,1168.437500
NV,NaN,1295.000000,1337.500000,1323.750000,1331.250000,1262.500000,1240.000000,1248.333333,1280.000000,1228.833333,...,1592.000000,1609.500000,1595.000000,1612.142857,1610.000000,1613.642857,1601.785714,1620.357143,1609.642857,1596.428571
NY,NaN,NaN,NaN,NaN,2300.000000,2450.000000,2495.000000,2400.000000,2600.000000,2800.000000,...,8818.600000,8836.220000,9194.180000,9086.820000,8796.600000,8199.660000,7977.380000,8366.100000,7890.620000,8171.960000
OH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1073.037037,1079.907407,1091.462963,1094.000000,1092.888889,1104.629630,1085.518519,1079.166667,1065.555556,1065.333333
OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1086.710526,1112.763158,1118.026316,1093.394737,1098.394737,1082.842105,1076.815789,1061.157895,1066.973684,1078.868421
OR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1837.692308,1842.076923,1873.461538,1884.807692,1876.346154,1859.423077,1855.384615,1826.961538,1839.038462,1830.769231
PA,NaN,1350.000000,1292.500000,1250.000000,1300.000000,1425.000000,1474.500000,1500.000000,1450.000000,1485.000000,...,1426.916667,1442.222222,1453.055556,1455.277778,1452.166667,1437.277778,1442.347222,1443.472222,1435.277778,1427.222222
RI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2093.750000,2116.562500,2152.812500,2134.375000,2059.375000,2001.250000,2021.875000,2037.500000,1993.750000,2078.125000
SC,NaN,1200.000000,1277.500000,1500.000000,1500.000000,1675.000000,1900.000000,1800.000000,1500.000000,1300.000000,...,1399.464286,1416.250000,1411.339286,1407.857143,1402.946429,1400.392857,1383.392857,1366.607143,1373.196429,1382.839286
SD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1160.833333,1118.333333,1154.166667,1138.333333,1146.666667,1135.000000,1149.166667,1130.833333,1138.333333,1183.333333
TN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1100.000000,1200.000000,1150.000000,...,1512.300000,1536.340000,1552.800000,1556.080000,1561.900000,1547.960000,1520.500000,1519.980000,1526.100000,1555.860000
TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1200.000000,1433.750000,1524.000000,...,1627.596429,1646.853571,1662.875000,1668.264286,1672.317857,1656.728571,1642.835714,1632.035714,1632.392857,1629.546429
UT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1568.136364,1567.045455,1611.363636,1606.704545,1630.909091,1627.772727,1624.659091,1603.204545,1583.477273,1606.772727
VA,NaN,1357.500000,1391.041667,1453.166667,1481.166667,1503.666667,1588.125000,1614.843750,1562.941176,1520.588235,...,1776.101852,1824.009259,1862.435185,1876.046296,1881.972222,1860.342593,1849.148148,1833.787037,1823.805556,1813.120370
WA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022.034884,2040.046512,2073.488372,2106.709302,2115.627907,2113.662791,2078.790698,2069.848837,2043.430233,2042.325581
WI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1201.388889,1145.833333,1179.444444,1159.722222,1140.555556,1165.000000,1162.111111,1201.666667,1178.611111,1179.444444
WV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1087.500000,1075.833333,1155.000000,1108.333333,1121.666667,1135.833333,1115.833333,1104.166667,1116.666667,1066.666667
WY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1116.666667,1156.666667,1197.500000,1200.000000,1180.833333,1275.000000,1198.333333,1116.666667,1175.000000,1175.000000

In [49]:
a_grouped.columns = pd.to_datetime(a_grouped.columns)